[Unit]
Description = Maestral daemon

[Service]
Type = notify
NotifyAccess = exec
ExecStartPre = /run/current-system/sw/bin/sleep 5
ExecStart = /etc/profiles/per-user/py/bin/maestral start -f
ExecStop = /etc/profiles/per-user/py/bin/maestral stop
ExecStopPost= /run/current-system/sw/bin/bash -c "if [[ ${SERVICE_RESULT} != success ]]; then /run/current-system/sw/bin/notify-send Maestral 'Daemon failed'; fi"

WatchdogSec = 30s

[Install]
WantedBy = default.target

